body{background-color: silver;}
/* Estilos de Tarjeta y Flip */
.card {
	width: 100%;
	height: 300px;
}
.card-grid {
  
  width: 250px;
  height: 300px;
  margin: 20px;
  display: inline-block;
}
.card-grid .front, .card-grid .back {
  padding: 10px;
  text-align: center;
  border: 1px #333 solid;
}
.card-grid .front {
  background-color: #eee;
}
.card-grid .back {
  background-color: #333;
  color: white;
}
.card .front{
	text-align: center;
	font-size: 30px;
	font-weight: 200;
}
.card .back{
	text-align: center;
	font-size: 30px;
	font-weight: 200;
	background-color: #eee;
}
.card img{
	width: 100%;
	height: 100%;
}
.card > .back{
	word-wrap: break-word;
}
/*  */